@import url('https://fonts.googleapis.com/css?family=Handlee|Open+Sans&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    top: 0;
    left: 0;
    margin: 0;
    background: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    // background-color: rgb(226, 226, 226);
    // background-position-y: 20%;
    padding: 20px;
}


#primary {
    background-color: 	#3CB371;
    color: white;
    margin-top: 18px;
    margin-left: 12px;
   
}


.headline {
    display: flex;
    justify-content: space-between;   
}

.right-column {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.main-heading {
    margin-right: 20px;
    font-family: 'Handlee', sans-serif;
    margin-left: 10px;
    color: rgb(105, 105, 105);
}

.search {
    width: 200px;
    height: 30px;
    border: transparent;
    box-shadow: 0 2px 5px 3px rgba(72,72,72,.4);
    border-radius: 10px;
    margin-top: 22px;
    user-select: none;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.map {
    box-shadow: 0 6px 15px 9px rgba(72,72,72,.4);
    display: flex;
    justify-content: center;
    background-color: black;
}

.cardGrid {
    border-top: 1px solid rgb(201, 201, 201);
    margin-top: 25px;
    padding: 20px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 750px));
    grid-gap: 25px;
    grid-template-rows: 1fr;
    margin-bottom: 35px;
}

.cards {
    box-shadow: 0 1px 3px 2px rgba(72,72,72,.4);
    background-color: white;
    display: flex;
    opacity: .92;
    justify-content: space-between;
    -webkit-animation: fadeIn 2s; /* Safari 4+ */
    -moz-animation:    fadeIn 2s; /* Fx 5+ */
    -o-animation:      fadeIn 2s; /* Opera 12+ */
    animation:         fadeIn 2s;
}

#hamburger-menu {
    background-color: 	#3CB371;
    color: white;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 2px 5px 3px rgba(72,72,72,.3);
    margin-bottom: 10px;
}

#hamburger-menu:hover {
    cursor: pointer;
    user-select: none;
}

.no-render {
    padding-left: 10px;
}

.info-link {
    position: relative;
    border: 1px solid transparent;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 5px 8px 4px rgba(72,72,72,.3);
    background-color: white;
    user-select: none;
  }

  .card-render {
      display: flex;
      justify-content: space-between;
      padding: 0;
  }

@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
@-moz-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
@-o-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }