* {
    box-sizing: border-box;
}


.headline {
    display: flex;
    justify-content: center;
}

.main-heading {
    margin-right: 20px;
}

.search {
    width: 200px;
    height: 30px;
    border: transparent;
    box-shadow: 0 2px 5px 3px rgba(72,72,72,.4);
    border-radius: 20px;
    margin-top: 22px;
}

.map {
    box-shadow: 0 6px 15px 9px rgba(72,72,72,.4);
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
}

.cardGrid {
    border-top: 1px solid rgb(53, 49, 49);
    margin-top: 25px;
    padding: 20px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 750px));
    grid-gap: 50px;
    grid-template-rows: 1fr;
    margin-bottom: 35px;
}